@model List<Blog_Project.Models.StudentViewModel>
@{
    ViewBag.Title = "Professor Dashboard";
}
<img src="~/img/reply.png" /><a href="javascript:void(0);" onclick="history.back();">Go Back</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Student Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Absences</th>
            <th scope="col">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row" data-id="@i.COURSES_ID" data-prof="@i.PROFESSOR_ID" id="studentCourseProf">@i.StudentId</th>
                <td scope="row" id="titulli" data-id="@i.StudentId">@i.StudentName</td>
                <td scope="row" id="grade" data-id="@i.Grade">@i.Grade</td>
                <td scope="row" id="grade" data-id="@i.Absent">@i.Absent</td>

                <td>
                    <button type="button" class="btn btn-info edit-student" data-title="@i.Grade" data-absence="@i.Absent" data-toggle="modal" data-id="@i.StudentId" data-target="#editStudent">Edit</button> &nbsp;
                    <button class="btn btn-primary delete-course delete-student" data-toggle="modal" data-target="#deleteStudent" data-id="@i.StudentId">Delete</button>
                </td>
            </tr>

        }
    </tbody>
</table>
<div class="modal fade" id="editStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editStudentForm">
                    <div class="form-group">
                        <label for="studentName">Set the grade</label>
                        <input type="number" step="0.1" class="form-control" id="editStudentstudentName" aria-describedby="course" placeholder="Enter student grade">

                    </div>
                    <div>
                        <label for="studentName">Set the absances</label>
                        <input type="number" class="form-control" id="editStudentAbsence" aria-describedby="course" placeholder="Edit student Absence">
                        <small id="editStudentstudentNameErr" style="color:red;display:none;" class="form-text text-muted">Please add a student name!</small>
                        <input type="hidden" id="editStudentCourseId" value="" />
                    </div>
                </form>
            </div>
            <small id="editStudentErr" style="color:red;display:none;margin-left:10px;" class="form-text text-muted">Please add a grade or absence!</small>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="confirmEditStudent" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Delete Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this student?
                <input type="hidden" id="deleteStudentId" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="confirmDeleteStudent" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        function getQueryParameter(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        const courseValue = getQueryParameter('course');
        console.log(courseValue);

        $(document).on("click", ".edit-student", function () {
            debugger;
            var studentId = $(this).data('id');
            $('#editStudentCourseId').val(studentId);
            var grade = $(this).data('title');
            var absence = $(this).data('absence');
            $('#editStudentstudentName').attr('placeholder', grade);
            $('#editStudentAbsence').attr('placeholder', absence);
            $('#editStudent').modal('show');
        });

        $('#confirmEditStudent').on("click", function () {
            var studentGrade = $("#editStudentstudentName").val();
            var studentAbsences = $("#editStudentAbsence").val();
            var studentId = $('#editStudentCourseId').val();
            editStudent(courseValue, studentId, studentAbsences);
            $('#editStudent').modal('hide');
        });
        function editStudent(id, studentId, studentAbsences) {
            debugger;
            var studentGrade = $("#editStudentstudentName").val();
         

            if (studentAbsences === "" && studentGrade === "") {
                $("#editStudentErr").css("display", "block")
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/ProfessorView/EditStudents",
                    data: {
                        courseId: id,
                        studentGrade: studentGrade,
                        studentAbsences: studentAbsences,
                        studentId: studentId,

                    },
                    success: function (response) {
                        alert('Student was edited successfully!');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }

        }

        //Delete student from course
        $(document).on("click", ".delete-student", function () {
            var studentId = $(this).data('id');
            $('#deleteStudentId').val(studentId);
            $('#deleteStudent').modal('show');
        });

        $('#confirmDeleteStudent').on("click", function () {
            var studentId = $('#deleteStudentId').val();
            deleteStudent(courseValue, studentId);
            $('#deleteStudent').modal('hide');
        });
        function deleteStudent(id, studentId) {
            var studentGrade = $("#studentName").val(); // Update variable name here
            $.ajax({
                type: "POST",
                url: "/ProfessorView/DeleteStudents",
                data: {
                    courseId: id,
                    studentId: studentId
                },
                success: function (response) {
                    alert('Student was Deleted successfully!');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    });

</script>
