@model List<Blog_Project.Models.CoursesModel>
@{
    ViewBag.Title = "Professor Dashboard";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Created on</th>
            <th scope="col">Exam Date</th>
            <th scope="col">Students</th>
            <th scope="col">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCourse">
                    Add course
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td scope="row"></td>
                <td scope="row" id="titulli" data-id="@i.Id">@i.Title</td>
                <td>@i.CreatedAt</td>
                <td>@(i.ExamDate.HasValue ? i.ExamDate.Value.ToString("MM/dd/yyyy") : "") </td>
                <td><a href="@Url.Action("AddStudents", "ProfessorView", new { course = i.Id, courseName = i.Title })">@i.StudentCount</a></td>
                <td>
                    <button type="button" class="btn btn-info add-student" data-id="@i.Id" data-toggle="modal" data-target="#addStudent">
                        Add student
                    </button>
                    <button type="button" class="btn btn-primary edit-course" data-title="@i.Title" data-id="@i.Id" data-evaluation="@i.Evaluated" data-answerTime="@i.AnswersTime" data-retake="@i.Retake" data-review="@i.Review" data-toggle="modal" data-target="#editCourse"><i class="fa fa-edit"></i></button> &nbsp;
                    <button class="btn btn-danger delete-course" data-id="@i.Id" data-toggle="modal" data-target="#deleteCourse"><i class="fa fa-trash"></i></button>
                </td>
            </tr>

        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="courseForm">
                    <div class="form-group">
                        <label for="courseName">Course name</label>
                        <input type="text" class="form-control" id="courseName" aria-describedby="course" placeholder="Enter course">
                        <small id="courseNameErr" style="color:red;display:none;" class="form-text text-muted">Please add a course name!</small>
                    </div>
                    <div class="form-group">
                        <label for="examDate">Exam Date</label>
                        <input type="date" class="form-control" id="examDate" aria-describedby="examDateHelp" placeholder="Enter exam date">
                        <small id="examDateHelp" class="form-text text-muted">Optional</small>
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Edit Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editCourseForm">
                    <div class="form-group">
                        <label for="courseName">Course name</label>
                        <input type="text" class="form-control" id="editCourseName" aria-describedby="course" placeholder="Enter course">
                        <small id="editCourseNameErr" style="color:red;display:none;" class="form-text text-muted">Please add a course name!</small>
                        <input type="hidden" id="editCourseId" value="" />
                    </div>
                    <div class="form-group">
                        <label for="examDate">Exam Date</label>
                        <input type="date" class="form-control" id="editExamDate" aria-describedby="examDateHelp" placeholder="Enter exam date">
                        <small id="examDateHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect">Has the exam started to be evaluated?</label>
                        <select class="form-control" id="evaluationSelect">
                            <option value="0" selected disabled>Choose</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="courseName">How long does it take to get the answers to the exam?</label>
                        <input type="text" class="form-control" id="evaluatedTime" aria-describedby="course" placeholder="Enter time">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect">Can I review the exam?</label>
                        <select class="form-control" id="reviewSelect">
                            <option value="0" selected disabled>Choose</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect">Can I retake the exam for improvement?</label>
                        <select class="form-control" id="retakeSelect">
                            <option value="0" selected disabled>Choose</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="confirmEditCourse" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Delete Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this course?
                <input type="hidden" id="deleteCourseId" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="confirmDeleteCourse" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addStudentForm">
                    <div class="form-group">
                        <label for="studentName">Student name</label>
                        <input type="text" class="form-control" id="studentName" aria-describedby="course" placeholder="Add student">
                        <small id="studentNameErr" style="color:red;display:none;" class="form-text text-muted">Please add a student name!</small>
                        <input type="hidden" id="studentCourseId" value="" />
                    </div>
                    @*<button type="submit" class="btn btn-primary">Submit</button>*@
                </form>
            </div>

            <div class="modal-footer">
                <button id="confirmaddStudent" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        $("#courseForm").on("submit", function (event) {
            event.preventDefault();
            var courseName = $("#courseName").val();
            var examDate = $("#examDate").val();
            if (!courseName) {
                $("#courseNameErr").css("display", "block");
            } else {
                $("#courseNameErr").css("display", "none");
                $.ajax({
                    type: "POST",
                    url: "/ProfessorView/AddCourseName",
                    data: {
                        courseName: courseName,
                        examDate: examDate,
                    },
                    success: function (response) {
                        alert('Course is added successfully!');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        alert('Error');
                        console.error(error);
                    }
                });

            }
        });

       
        $(document).on("click", ".add-student", function () {
            var courseId = $(this).data('id');
            $('#studentCourseId').val(courseId);
            $('#addStudent').modal('show');
        });

        $('#confirmaddStudent').on("click", function () {
            var courseId = $('#studentCourseId').val();
            addStudent(courseId);
            $('#addStudent').modal('hide');
        });
        function addStudent(id) {
            var studentName = $("#studentName").val(); // Update variable name here
            $.ajax({
                type: "POST",
                url: "/ProfessorView/AddNewStudents",
                data: {
                    courseId: id,
                    studentName: studentName, // Pass the correct variable here
                },
                success: function (response) {
                    alert('Student was added successfully!');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Error');
                    console.error(error);
                }
            });
        }

    });

    document.querySelectorAll('table').forEach(table => {
        let rows = table.querySelectorAll('tbody tr');
        rows.forEach((row, index) => {
            row.querySelector('td').textContent = index + 1;
        });
    });

    //Delete course
    $(document).on("click", ".delete-course", function () {
        var courseId = $(this).data('id');
        $('#deleteCourseId').val(courseId);
        $('#deleteCourse').modal('show');
    });

    $('#confirmDeleteCourse').on("click", function () {
        var courseId = $('#deleteCourseId').val();
        deleteCourse(courseId);
        $('#deleteCourse').modal('hide');
    });
    debugger;
    function deleteCourse(id) {
        //debugger;
        var courseId = $('#titulli').data('id');

        $.ajax({
            type: "POST",
            url: "/ProfessorView/DeleteCourseName",
            data: {
                id: id
            },
            success: function (response) {
                alert('Course was Deleted successfully!');
                location.reload();
            },
            error: function (xhr, status, error) {
                alert('Error!');
                console.error(error);
            }
        });
    }
    //Edit course

    $(document).on("click", ".edit-course", function () {
        debugger;
        var courseId = $(this).data('id');
        var courseName = $(this).data('title');
        var evaluation = $(this).data('evaluation');
        var answerTime = $(this).data('answerTime');
        console.log(answerTime);
        var retake = $(this).data('retake');
        var review = $(this).data('review');
        $('#editCourseId').val(courseId);
        $('#editCourseName').val(courseName);
        $("#evaluationSelect").val(evaluation);
        $("#evaluatedTime").val(answerTime);
        $("#retakeSelect").val(retake);
        $("#reviewSelect").val(review);
        if (evaluation === null || evaluation === '') {
            $("#evaluationSelect").val(0);
        }
        else if (retake === null || retake === '') {
            $("#retakeSelect").val(0);
        }
        else if (review === null || review === '') {
            $("#reviewSelect").val(0);
        }
        //$('#editCourseName').attr('placeholder', courseName);
        $('#evaluatedTime').attr('placeholder', answerTime);
        $('#editCourse').modal('show');
    });

    $('#confirmEditCourse').on("click", function () {
        var courseId = $('#editCourseId').val();
        editCourse(courseId);
        $('#deleteCourse').modal('hide');
    });


    function editCourse(id) {
        var courseName = $("#editCourseName").val();
        var examDate = $("#editExamDate").val();
        var evaluated = $("#evaluationSelect").val();
        var evaluatedTime = $("#evaluatedTime").val();
        var retakeSelect = $("#retakeSelect").val();
        var reviewSelect = $("#reviewSelect").val();

        if (courseName == "") {
            $("#editCourseNameErr").css("display", "block")
        }
        else {
            $("#editCourseNameErr").css("display", "none")
            $.ajax({
                type: "POST",
                url: "/ProfessorView/EditCourseName",
                data: {
                    courseName: courseName,
                    id: id,
                    examDate: examDate,
                    evaluated: evaluated,
                    evaluatedTime: evaluatedTime,
                    retakeSelect: retakeSelect,
                    reviewSelect: reviewSelect,
                },
                success: function (response) {
                    alert('Course is edited successfully!');
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Error!');
                    console.error(error);
                }
            });
        }

    }


</script>

